// ========================================
// FOOTER
// ========================================
// 1. Mobile layout
// 2. Tablet layout
// 3. Desktop layout
// ========================================
// #region Import variables
@use "../base/variables" as *;

// #endregion Import variables
// ========================================
// #region Mobile
.site-footer {
  // styling
  background-color: black;
  display: flex;
  height: 1.5rem;

  // position
  z-index: 1000;
  position: sticky;
  bottom: 0;
  right: 0;

  // spacers
  padding-inline: 1rem;
  border-top: 2px solid;

  // border
  border-color: rgb(255 174 0);

  &__info {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }
}

// #endregion Mobile
// ========================================
// #region Tablet

@media (width >= 48rem) {
  // placeholder
}

// #endregion Tablet
// ========================================
// #region desktop

@media (width >= 64rem) {
  // placeholder
}

// #endregion desktop
