// ========================================
// FOOTER
// ========================================
// 1. Mobile layout
// 2. Tablet layout
// 3. Desktop layout
// ========================================
// #region Import variables
@use "/src/scss/base/variables" as *;

@font-face {
  font-family: rpgFont;
  src: url("/src/assets/fonts/TWBOZ.ttf");
}

// #endregion Import variables
// ========================================
// #region Mobile
.site-footer {
  // styling
  background-image: url("/src/assets/images/header-banner.jpg");
  background-size: 100% 100%;
  opacity: 0.9;
  display: flex;
  height: 1.5rem;

  & a {
    color: rgb(166 168 168 / 89.7%);
    text-decoration: none;

    &:hover,
    &:focus-visible {
      color: black;
    }
  }

  // position
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;

  // spacers
  padding-inline: 1rem;
  border-top: 1.5px solid;

  // border
  border-color: rgb(218 165 32 / 64.4%);

  &__info {
    font-family: rpgFont, sans-serif;
    font-size: 1.2rem;
    color: $navlinkcolor;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: end;
    text-shadow:
      0 0 3px #0c5713,
      0 0 4px #026b12a1;

    :visited:hover {
      color: rgb(255 255 255 / 77.4%);
    }
  }
}

// #endregion Mobile
// ========================================
// #region Tablet

@media (width >= 48rem) {
  // placeholder
}

// #endregion Tablet
// ========================================
// #region desktop

@media (width >= 64rem) {
  // placeholder
}

// #endregion desktop
