// ========================================
// HEADER
// ========================================
// 1. Mobile layout
// 2. Tablet layout
// 3. Desktop layout
// ========================================
// #region Import variables
@use "../base/variables" as *;

// #endregion Import variables
// ========================================
// #region Mobile
.site-header {
  // grid layout
  display: grid;
  grid-template: "logo . nav" auto / auto auto auto;
  align-items: center;
  border-radius: 1.5rem;
  border: 2px solid;
  border-color: rgb(218 165 32 / 64.4%);

  // position
  position: sticky;
  z-index: 1000;
  top: 0;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  // styling

  & a {
    color: $navlinkcolor;
    text-decoration: none; // removes underlines on links
  }

  // banner overall background
  background-image: url("../../assets/images/header-banner.jpg");
  background-size: 100% 100%;
  opacity: 0.99;

  // .codeSpire logo position
  &__logo {
    grid-area: logo;
  }

  // Menu button styling for hamburger menu
  &__menu-button {
    background-color: transparent;
    border-radius: 0.5rem 0.7rem 1.6rem;
    border: 0.1rem;
    padding: 0.1rem;
    border-style: groove;
    border-color: rgb(218 165 32 / 64.4%);
    border-inline-end-width: 0.2rem;
    border-inline-start-width: 0.2rem;
    grid-area: nav;
    justify-self: end;
    position: relative;
    right: 1rem;
    bottom: 0.2rem;
    text-shadow:
      0 0 6px #f7f200,
      0 0 14px #704900a1;
    translate: 0 5px;

    // makes open/close button hoverable
    &:hover,
    &:focus-visible {
      background-color: #583a0093;
    }

    // makes open/close text hoverable
    &:hover span,
    &:focus-visible span {
      color: rgb(10 71 21 / 64.4%);
    }

    // sets fontstyle and sizing of open/close
    & span {
      font-family: rpgFont, sans-serif;
      color: $navlinkcolor;
      display: grid;
      place-items: center;
      font-size: 1.6rem;
      line-height: 1;
    }
  }

  // navigation burger
  &__nav {
    grid-area: nav;
    display: none;

    // the opened navmenu
    &.is-open {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
      top: 87%;
      right: -0.1rem;
      z-index: 100;
      min-width: 5rem;
      gap: 0.5rem;
      border: 1px solid;
      border-color: rgb(218 165 32 / 64.4%);
      padding-block: 0.5rem;
      padding-bottom: 1rem;
      padding-inline: 0.1rem;
      background-image: url("../../assets/images/header-banner.jpg");
      opacity: 0.975;
      border-radius: 0.35rem;

      // link styling in nav menu
      a {
        font-family: rpgFont, sans-serif;
        background-color: rgb(0 0 0 / 50.7%);
        border-radius: 0.5rem 0.7rem 1.6rem;
        border: 0.1rem;
        padding: 0.1rem;
        border-style: groove;
        border-color: rgb(218 165 32 / 64.4%);
        border-inline-end-width: 0.2rem;
        border-inline-start-width: 0.2rem;
        text-shadow:
          0 0 6px #f7f200,
          0 0 14px #704900a1;
        translate: 0 5px;
      }

      // makes navmenu links hoverable
      a:hover,
      a:focus-visible {
        color: rgb(29 85 38);
        background-color: #704900b9;
      }
    }
  }
}

// #endregion Mobile
// ========================================
// #region Tablet

@media (width >= $breakpoint-tablet) {
  // placeholder
}

// #endregion Tablet
// ========================================
// #region desktop

@media (width >= $breakpoint-desktop) {
  .site-header {
    &__menu-button {
      display: none;
    }

    &__nav {
      grid-area: nav;
      display: flex;
      justify-content: space-evenly;
      color: $navlinkcolor;
      font-family: rpgFont, sans-serif;
      font-size: 1.3rem;
      background-color: rgb(0 0 0 / 50.7%);
      border-radius: 0.5rem 0.7rem 1.6rem;
      border: 0.14rem;
      padding-top: 0.3rem;
      border-style: groove;
      border-color: rgb(218 165 32 / 64.4%);
      border-inline-end-width: 0.2rem;
      border-inline-start-width: 0.2rem;
      text-shadow:
        0 0 6px #f7f200,
        0 0 14px #704900a1;
      translate: 0 5px;

      a:visited:hover,
      a:focus-visible {
        color: rgb(29 85 38);
      }
    }
  }
}

// #endregion desktop
