// ========================================
// HEADER
// ========================================
// 1. Mobile header layout
// 2. Tablet layout
// 3. Desktop layout
// ========================================
// #region Mobile
.site-header {
  // grid layout
  display: grid;
  grid-template: "logo . nav" auto / auto auto auto;
  align-items: center;
  border-radius: 1.5rem;
  border: 2px solid;
  border-color: rgb(255 174 0);

  // position
  position: sticky;
  z-index: 1000;
  top: 0;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  // styling

  /* background-color: white; */
  background-image: url("../../assets/images/header-banner.jpg");

  &__logo {
    grid-area: logo;
  }

  &__menu {
    grid-area: nav;
  }
}

// #endregion Mobile
// ========================================
// #region desktop

@media (width >= 64rem) {
  .site-header {
    // gridlayout
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);

    // spacers
    padding-inline: 1rem;
    padding-block: 1rem;
  }
}

// #endregion desktop
// ========================================
// #region Tablet

@media (width >= 48rem) {
  // placeholder
}

// #endregion Tablet
