// ========================================
// MAIN
// ========================================
// 1. Mobile layout
// 2. Tablet layout
// 3. Desktop layout
// ========================================
// #region Import variables
@use "../base/variables" as *;

// #endregion Import variables
// ========================================
// #region Grid
.site-main {
  // gridsetup
  display: grid;
  flex: 1;
  grid-template-columns: repeat(10, 1fr);
  background-color: $bodybg;

  // spacers
  padding-inline: 1rem;
  padding-block: 1rem;
  gap: 2rem;
}

// #endregion Grid
// ========================================
// #region Mobile

// #endregion Mobile
// ========================================
// #region Tablet

@media (width >= 48rem) {
  // placeholder
}

// #endregion Tablet
// ========================================
// #region desktop

@media (width >= 64rem) {
  // placeholder
}

// #endregion desktop
